<div class="jumbotron center">	
	<h1>Welcome to your one-stop jellyfish shop!</h1>
	<%= link_to "Sign up", "#", class: "btn-default btn-info" %>
	<%= link_to "Log in", "#", class: "btn-default btn-info" %>
</div>

